---
import NavBar from "../Components/NavBar.astro";
import Footer from "../Components/Footer.astro";
import { galeriaBanner} from '../../public/assets/index'
---

<style>
    @font-face {
		font-family: "test";
		src: url("/assets/fonts/Sleepy Rabbit.ttf");
	}
</style>

<div>
    <NavBar path="GaleriaDigital"/>
    <div id="GaleriaBanner">
        <img src={galeriaBanner.src} class="h-[100vh] w-full" alt="">
        <span class="absolute bottom-10 left-10 text-[#076F28] font-[test] text-6xl">INFOGRAFÍAS</span>
    </div>
    <section id="GaleriaEnfoque" class="px-32 pt-16">
        <div class="flex items-center">
            <span class="font-[test] text-[#442B47] text-3xl">REINCORPORACIÓN CON ENFOQUE DE GÉNERO</span>
            <!-- <hr class="h-[1px] my-8 bg-black border-0 w-full"> -->
        </div>
        <iframe src="https://drive.google.com/file/d/1-7wc8EKodx_lORr6kh0TsOf344eB1KIJ/preview" width="1100" height="600" allow="autoplay"></iframe>
    </section>
    <section id="GaleriaPdets" class="px-32 py-16">
        <div class="flex items-center">
            <span class="font-[test] text-[#442B47] text-3xl">PDETS - ALTO PATÍA Y NORTE DEL CAUCA</span>
            <!-- <hr class="h-[1px] my-8 bg-black border-0 w-full"> -->
        </div>
        <iframe src="https://drive.google.com/file/d/1N0cQTGnv9KYRBB4tdh3BdZ99nswp5Vb2/preview" width="1100" height="600" allow="autoplay"></iframe>
    </section>
    <Footer />
</div>