---
import NavBar from '../Components/NavBar.astro'
import Footer from '../Components/Footer.astro'
import SeccionMain from '../Components/SeccionMain.astro'
import bannerBG from '../../public/assets/Banner.png'
import bannerContent from '../../public/assets/Banner2.png'
import documental from '../../public/assets/documental.png'
import lorem from '../../public/assets/Lorem.png'

---
<style>
	@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
</style>

<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>PDG</title>
	</head>
	<body>
		<NavBar path="home"/>
		<section id="banner" class="bg-[#79097E] pt-[20vh]">
			<div class=" w-full h-[80vh] flex absolute">
				<img src={bannerContent.src} class=" m-auto">
			</div>
			<img class="w-full h-[80vh]" src={bannerBG.src}/>
		</section>
		<div class="h-[12vh] bg-[#EDEDED] overflow-hidden">
			<div class="flex h-full w-[200vw]">
				<img src={lorem.src} class="h-[50%] m-auto">
			</div>
		</div>
		
		<SeccionMain />
		
		<Footer />
		
	</body>
</html>
