---
import logoLSE from '../../public/assets/logoLSE.png'
import logoICESI from '../../public/assets/logoICESI.png'
import logoOEW from '../../public/assets/logoOEW.png'
---

<footer class="bg-[#F3ECD6] px-[20vw] py-10">
    <div class="flex flex-row justify-between items-center">
        <img class="h-[80%]" src={logoOEW.src} alt="">
        <img class="h-[80%]" src={logoLSE.src} alt="">
        <img class="" src={logoICESI.src} alt="">
    </div>
</footer>