---
import logoLSE from '../../public/assets/logoLSE.png'
import logoICESI from '../../public/assets/logoICESI.png'
import logoOEW from '../../public/assets/logoOEW.png'
import LasManuelitas from '../../public/assets/LasManuelitas.png'
---

<footer class="bg-[#FDE0FF] px-[20vw] py-10 max-sm:px-5 max-sm:w-[100vw]">
    <div class="flex flex-row justify-between gap-10 items-center max-sm:gap-5">
        <img class="max-sm:w-[22%] h-[80%]" src={logoOEW.src} alt="">
        <img class="max-sm:w-[22%] h-[80%]" src={logoLSE.src} alt="">
        <img class="max-sm:w-[22%] " src={logoICESI.src} alt="">
        <img class="max-sm:w-[22%] " src={LasManuelitas.src} alt="">
    </div>
</footer>