---
import logoLSE from '../../public/assets/logoLSE.png'
import logoICESI from '../../public/assets/logoICESI.png'
import logoOEW from '../../public/assets/logoOEW.png'
---

<footer class="bg-[#F3ECD6] px-[20vw] py-10 max-sm:px-5 max-sm:w-[100vw]">
    <div class="flex flex-row justify-between items-center">
        <img class="max-sm:w-[30%] h-[80%]" src={logoOEW.src} alt="">
        <img class="max-sm:w-[30%] h-[80%]" src={logoLSE.src} alt="">
        <img class="max-sm:w-[30%] " src={logoICESI.src} alt="">
    </div>
</footer>