---
/* import { logoBlanco, logoNegro, navBar, fondoSeccion1 } from '../../public/assets/index' */
import navBar from '../../public/assets/navBar.png'
import navBar2 from '../../public/assets/navBar2.png'
const { path } = Astro.props

---

<style>
	@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&family=Rock+Salt&display=swap'); 
</style>

<nav id="navBar" class="w-full fixed flex pt-10 z-[100] transition-all">
    <div class="m-auto transition-all max-sm:w-[80%]">
        <div id="containerNavBar" class="bg-[#FDE0FF] border border-[#292032] rounded-2xl flex flex-row">
            <a href="/">
                <div id="mainNavBar2" class="relative py-3 m-auto bg-[#FDE0FF] hover:bg-[#e8c2eb] rounded-l-2xl border-r-0  cursor-pointer transition-all ">
                    <img src={navBar.src} class="transition-all w-[80%] h-[80%] m-auto">
                </div>
            </a>
            <div id="mainNavBar" class="relative py-3 m-auto bg-[#FDE0FF] hover:bg-[#e8c2eb] rounded-r-2xl border-l-0  cursor-pointer transition-all ">
                <img src={navBar2.src} class="transition-all w-[80%] h-[80%] m-auto pr-5">
            </div>
        </div>
        <div id="optNavBar" class=" transition-all hidden backdrop-blur rounded-b-2xl flex-col text-center text-white font-bold font-robot  border border-[#292032] border-t-0">
            
            <div class="relative transition-all">
                <p id="navBarAreasDeTrabajo" class=" h-[10vh] flex justify-center w-full items-center hover:bg-[rgba(1,1,1,.5)] transition-all cursor-pointer drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)]">ÁREAS DE TRABAJO</p>
                <div id="modalAreas" class="bg-[#FDE0FF] absolute top-[40%] left-[62%] w-[22vw] max-sm:w-[30vw] rounded-lg text-[#292032] text-md hidden flex-col text-left z-50">
                    <a href="https://pdgcamila.netlify.app/#seccion3-2">
                        <p class="py-3 px-2 hover:bg-[#efc8f1] transition-all cursor-pointer max-sm:text-xs hover:rounded-lg">REINCORPORACIÓN CON ENFOQUE DE GÉNERO</p>
                    </a>
                    <a href="https://pdgcamila.netlify.app/#seccion3-2-PRUEBA2">
                        <p class="py-3 px-2 hover:bg-[#efc8f1] transition-all cursor-pointer max-sm:text-xs ">PDTES ALTO PATÍA Y NORTE DEL CAUCA</p>
                    </a>
                    <a href="https://pdgcamila.netlify.app/#seccion3-2-PRUEBA">
                        <p class="py-3 px-2 hover:bg-[#efc8f1] transition-all cursor-pointer max-sm:text-xs hover:rounded-lg">COMUNIDAD LGBT EN CONSTRUCCIÓN DE PAZ</p>
                    </a>
                </div>
            </div>
            
            <a href="/VocesDeLasComunidades">
                <p class=" h-[10vh] flex justify-center w-full items-center hover:bg-[rgba(1,1,1,.5)] transition-all cursor-pointer drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)]">VOCES DE LAS COMUNIDADES</p>
            </a>
            <a href="https://pdgcamila.netlify.app/#Asomanuelitas">
                <p class=" h-[10vh] flex justify-center w-full items-center hover:bg-[rgba(1,1,1,.5)] transition-all cursor-pointer drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)]">ASOMANUELITAS</p>
            </a>
            <div class="relative transition-all">
                <p id="navBarGaleriaDigital" class=" h-[10vh] flex justify-center w-full items-center hover:bg-[rgba(1,1,1,.5)] transition-all cursor-pointer drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)]">GALERIA DIGITAL</p>
                <div id="modalGaleria" class="bg-[#FDE0FF] absolute top-[40%] left-[62%] w-[22vw] max-sm:w-[30vw] rounded-lg text-[#292032] text-md hidden flex-col text-left z-50">
                    <a href="/GaleriaDigital">
                        <p class="py-3 px-2 hover:bg-[#efc8f1] transition-all cursor-pointer max-sm:text-xs hover:rounded-lg">INFOGRAFÍAS</p>
                    </a>
                    <a href="/GaleriaDeFotos">
                        <p class="py-3 px-2 hover:bg-[#efc8f1] transition-all cursor-pointer max-sm:text-xs ">GALERÍA DE FOTOS</p>
                    </a>
                </div>
            </div>
                
        </div>
    </div>
</nav>

<script is:inline >
    document.querySelector('#mainNavBar').addEventListener('click', () => {document.querySelector('#optNavBar').classList.toggle('hidden')})
    
    

    window.addEventListener('scroll', function () {
        var navbar = this.document.querySelector('#navBar')
        var options = this.document.querySelector('#optNavBar')

        navbar.classList.toggle('translate-y-[-5vh]',this.window.scrollY > 0)
        this.document.querySelector('#containerNavBar').classList.toggle('scale-[.80]',this.window.scrollY > 0)
        options.classList.toggle('scale-[.80]',this.window.scrollY > 0)
        options.classList.toggle('translate-y-[-6vh]',this.window.scrollY > 0)
    })

    //Submenu de areas de trabajo
    document.querySelector('#navBarAreasDeTrabajo').addEventListener('click', ()=>{
        document.querySelector('#modalAreas').classList.toggle('hidden')
        document.querySelector('#modalAreas').classList.toggle('flex')
    })
    //Submenu de galeria digital
    document.querySelector('#navBarGaleriaDigital').addEventListener('click', ()=>{
        document.querySelector('#modalGaleria').classList.toggle('hidden')
        document.querySelector('#modalGaleria').classList.toggle('flex')
    })
</script>