---
/* import { logoBlanco, logoNegro, navBar, fondoSeccion1 } from '../../public/assets/index' */
import navBar from '../../public/assets/navBar.png'
const { path } = Astro.props

---

<style>
	@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&family=Rock+Salt&display=swap'); 
</style>

<nav id="navBar" class="w-full fixed flex pt-10 z-[100] transition-all">
    <div class="m-auto transition-all ">
        <div id="mainNavBar" class="py-3 m-auto bg-[#FDE0FF] rounded-2xl cursor-pointer hover:bg-[#dcb5df] transition-all border border-[#292032]">
            <img src={navBar.src} class="w-[80%] h-[80%] m-auto">
        </div>
        <div id="optNavBar" class="backdrop-blur rounded-b-2xl flex-col text-center text-white font-bold font-robot hidden border border-[#292032] border-t-0">
            <a href="/AreasDeTrabajo">
                <p class=" h-[10vh] flex justify-center w-full items-center hover:bg-[rgba(1,1,1,.5)] transition-all cursor-pointer">ÁREAS DE TRABAJO</p>
            </a>
            <a href="/VocesDeLasComunidades">
                <p class=" h-[10vh] flex justify-center w-full items-center hover:bg-[rgba(1,1,1,.5)] transition-all cursor-pointer">VOCES DE LAS COMUNIDADES</p>
            </a>
            <a href="/Asomanuelitas">
                <p class=" h-[10vh] flex justify-center w-full items-center hover:bg-[rgba(1,1,1,.5)] transition-all cursor-pointer">ASOMANUELITAS</p>
            </a>
            <a href="/GaleriaDigital">
                <p class=" h-[10vh] flex justify-center w-full items-center hover:bg-[rgba(1,1,1,.5)] transition-all cursor-pointer">GALERIA DIGITAL</p>
            </a>
        </div>
    </div>
</nav>

<script is:inline >
    document.querySelector('#mainNavBar').addEventListener('click', () => {document.querySelector('#optNavBar').classList.toggle('hidden')})
    document.querySelector('#mainNavBar').addEventListener('click', () => {document.querySelector('#mainNavBar').classList.toggle('rounded-t-2xl')})
    document.querySelector('#mainNavBar').addEventListener('click', () => {document.querySelector('#mainNavBar').classList.toggle('rounded-2xl')})

    window.addEventListener('scroll', function () {
        var navbar = this.document.querySelector('#navBar')
        var header = this.document.querySelector('#mainNavBar')
        var options = this.document.querySelector('#optNavBar')

        navbar.classList.toggle('translate-y-[-5vh]',this.window.scrollY > 0)
        header.classList.toggle('scale-[.80]',this.window.scrollY > 0)
        options.classList.toggle('scale-[.80]',this.window.scrollY > 0)
        options.classList.toggle('translate-y-[-6vh]',this.window.scrollY > 0)
    })
</script>