---
import secciones1 from '../../public/assets/SeccionVocesDeLasComunidades.png'
import secciones2 from '../../public/assets/SeccionFundacionLasManuelitas.png'
import secciones3 from '../../public/assets/SeccionAreasDeTrabajo.png'
import secciones1Color from '../../public/assets/SeccionVocesDeLasComunidadesColor.png'
import secciones2Color from '../../public/assets/SeccionFundacionLasManuelitasColor.png'
import secciones3Color from '../../public/assets/SeccionAreasDeTrabajoColor.png'

---

<section id="secciones">
    <div class=" w-full flex flex-row">
        <div id="seccion1" class="w-1/3 relative flex z-10 hover:z-20 hover:scale-105 transition-all">
            <p class="absolute text-center text-white font-tipo top-[15%] w-full text-2xl px-[15%]" >No hay paz sin justicia social</p>
            <div class="w-full flex absolute bottom-24">
                <button class="bg-[#19001B] h-12 mx-auto w-32 rounded-full font-bold text-white py-3 hover:shadow-sm hover:shadow-white hover:scale-110 transition-all font-tipo">Ver</button>
            </div>
            <img src={secciones1.src}>
        </div>
        <div id="seccion2" class="w-1/3 relative z-10 hover:z-20 hover:scale-105 transition-all">
            <p class="absolute text-center text-white font-tipo top-[15%] w-full text-2xl px-[15%]" >No hay paz sin justicia social</p>
            <div class="w-full flex absolute bottom-24 ">
                <button class="bg-[#19001B] h-12 mx-auto w-32 rounded-full font-bold text-white py-3 hover:shadow-sm hover:shadow-white hover:scale-110 transition-all font-tipo">Ver</button>
            </div>
            <img src={secciones2.src}>
        </div>
        <div id="seccion3" class="w-1/3 relative z-10 hover:z-20 hover:scale-105 transition-all">
            <p class="absolute text-center text-white font-tipo top-[15%] w-full text-2xl px-[15%]" >No hay paz sin justicia social</p>
            <div class="w-full flex absolute bottom-24 ">
                <button class="bg-[#19001B] h-12 mx-auto w-32 rounded-full font-bold text-white py-3 hover:shadow-sm hover:shadow-white hover:scale-110 transition-all font-tipo">Ver</button>
            </div>
            <img src={secciones3.src}>
        </div>
    </div>
</section>

<script define:vars={{ secciones1, secciones1Color, secciones2, secciones2Color, secciones3, secciones3Color }} is:inline>
    const sect1 = document.querySelector('#seccion1')
    const sect2 = document.querySelector('#seccion2')
    const sect3 = document.querySelector('#seccion3')

    sect1.addEventListener('mouseenter', ()=> {sect1.children[2].src = secciones1Color.src})
    sect1.addEventListener('mouseleave', ()=> {sect1.children[2].src = secciones1.src})
    sect2.addEventListener('mouseenter', ()=> {sect2.children[2].src = secciones2Color.src})
    sect2.addEventListener('mouseleave', ()=> {sect2.children[2].src = secciones2.src})
    sect3.addEventListener('mouseenter', ()=> {sect3.children[2].src = secciones3Color.src})
    sect3.addEventListener('mouseleave', ()=> {sect3.children[2].src = secciones3.src})

</script>
